.product-img {
    width: auto;
    height: 12rem;
}

.product-name {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 2rem;
}

.product-description {
    color: gray;
}

.ProductCard {
    box-sizing: border-box;
    background-color: skyblue;
    padding: 0.5rem;
    margin: 2rem;
    border-radius: 10px;
}