ul {
    list-style: none;
    /* padding-left: 0; */
    display: table-row;
    /* float: left; */
    /* padding-inline-start: 0px; */
}

.products {
    /* display: inline-block; */
    width: 100%;
}

.title {
    font-size: 2.5vh;
    margin-top: 1vh;
}