.product-img {
    width: auto;
    height: 12rem;
}

.product-name {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 2rem;
}

.ProductCard {
    box-sizing: border-box;
    background-color: skyblue;
    padding: 0.5rem;
    margin: 2rem;
    border-radius: 10px;
}

button{
    margin: 0.5rem;
}

a:link {
    text-decoration: none;
}

a {
    color: black;
}

.ProductCard:hover {
    background: rgb(24, 158, 211);
}

