.product-img {
    width: auto;
    height: 20vh;
}

.product-name {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 3vh;
}

.ProductCard {
    box-sizing: border-box;
    background-color: skyblue;
    padding: 0.5rem;
    margin: 2rem;
    border-radius: 10px;
    min-width: 25vh;
}

button{
    margin: 0.5rem;
    min-width: 6vh;
    font-size: 1.5vh;
}

a:link {
    text-decoration: none;
}

a {
    color: black;
}

.ProductCard:hover {
    background: rgb(24, 158, 211);
}

@media (hover: hover) and (pointer: fine) {
  a:hover { background: rgb(24, 158, 211) }
}
